@using Mvc.Client.Models;

@model List<StatisticsModel>

    <style type="text/css">
        .True {
            background: #AAF387;
        }
    </style>

    <table class="table">
        <tr><td><a href="/Calculator">Калькулятор</a></td></tr>
    </table>
    <table class="table">
        <tr>
            <td>Сервер</td>
            <td>Доступное золото</td>
            <td>Ожидающее золото</td>
            <td>Последнее обновление</td>
        </tr>
        @foreach (var item in Model)
        {
            <tr class="@item.FarmMode.ToString()">
                <td>@item.Name</td>
                <td>@item.Money</td>
                <td>@item.WaitMoney</td>
                <td>@item.LastUpdate</td>
            </tr>
        }
    </table>